@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: darkgrey;
    font-family: Roboto;
    letter-spacing: 1px;
}

header {
    height: 200px;
    width: 100%;
    background-color: #ff9a04a2;
    background-size: 100%;
    background-position: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-size: 27px;
    text-align: center;
    padding-top: 31px;
    color: lightgrey;
    /* text-shadow: 2px 3px 4px black; */
}

.title h1 {
    font-family: Oswald;
    color: #125a21;
}

@media only screen and (max-width: 720px) {
    .title {
        word-break: break-all;
    }
    header {
        background-repeat: no-repeat;
    }
}


/* mid section with all the fun pictures  */

.big-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
}

.container>div {
    height: 310px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-position: center;
    color: white;
}

.bg1 {
    background: url('sebastian-unrau-v4e3JI7DDHI-unsplash.jpg');
}

.bg2 {
    background: url('woods-high.png');
}


/* .bg3 {
    background: url(woods-high.png);
} */

.bg {
    background-color: orange;
    background: url(sebastian-unrau-v4e3JI7DDHI-unsplash.jpg);
    opacity: 0.4;
}


/* footer  */

.contact {
    float: left;
}

.contact a:hover {
    text-decoration: none;
}

.fun-fact {
    /* display: inline-block; */
    float: right;
}
